/* 
*******************************************
FOR PHONES (BELLOW 544px
*******************************************
*/
@media (max-width: 34em) {
  .card {
    top: 20%;
    right: 24%;
  }
}
@media (max-width: 26em) {
  .card {
    top: 20%;
    right: 8%;
  }
}
